@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: gray;
    width: 375px;
    margin: auto;
}

/* Barra superior */
header {
    padding: 0 22px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    width: 375px;
    height: 80px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 75px;
}

header>ion-icon {
    font-size: 42px;
}


/* conteúdo principal */
main {
    margin-top: 80px;
    width: 100%;
    background-color: #F3F3F3;
}